@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hero-main {
    @apply text-[36px] font-semibold text-center m-auto;
  }
  .hero-main-discription{
   @apply text-[22px] font-medium text-center 
   m-auto;
  }
  .hero-search{
    @apply flex ;
  }
  .search-section {
    @apply  flex justify-center m-4  ;
  }
  .input-form{
  @apply w-auto bg-gray-50 rounded-[6px]
  h-[32px];
  }
  .search-button {
    @apply  bg-[#0077B6] ml-4 w-[80px] rounded-[6px]
     text-[#ffffff];
  }
  .search-location {
    @apply ml-4 w-[120px] rounded-[8px] p-2;
  }
  .search-icon {
    @apply mt-2 mr-4;
  }
  .work-title {
     @apply flex justify-center m-5
     text-[36px] font-semibold ;
  }
 
   .work-cards {
    @apply flex justify-center  mt-6 gap-x-8
    ;
   }
   .work-card{
    @apply  bg-gray-50 w-[250px] h-64 
     hover:translate-y-2 p-2 ;
      
  }
   
   .work-icon {
    @apply size-8 fill-[#ff4a4a] ;
   }
   .work-main{
  @apply flex;
   }
   .work-card h2 {
    @apply text-[22px] font-semibold ;
   }
   .work-card p{
    @apply text-[18px] pt-2;
   }

}
