@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .nav-div {
       @apply flex space-x-5 relative ml-auto mt-5 mr-2 font-bold 
       ;
    }
    .nav-link {
        @apply ml-2 text-[#0077B6] p-2
        hover:bg-[#0077B6] 
        hover:text-[#ffffff];
    }
    
}
